.header{
  text-align: center;
  font-size:x-large;
}

.url-mode{
  text-align: center;
}

.or{
  text-align: center;
  font-size: x-large;
  margin-top: 30px;
}

.pdf-mode{
  text-align: center;
  margin-top: 30px;
}

#outlined-basic{
  width: 500px;
}

#upload-button{
  margin-left: 10px;
}

.button{
  text-align: center;
  margin-top: 20px;
}